/*Home Page*/
.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color:azure;
  height: 100vh;
}
.formWrapper{
  background: rgb(0, 90, 95);
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  padding: 10px;
}
.image{
  width: 300px;
  height: auto;
}
footer{
  position: fixed;
  bottom: 0;
}
footer a{
  color: white;
}
.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainLabel{
  margin-bottom: 10px;
  margin-top: 10px;
}
.inputBox{
  padding: 10px;
  border-radius: 17px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;

}
.leaveBtn,
.btnJoinbtn{
  background-color: rgb(58, 110, 188);
  border: none;
  padding: 7px;
  border-radius: 17px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 150px;
  text-align: center; /* Ensures text inside the button is centered */
  margin: 0 auto; /* Centers the button horizontally */
  display: block;/* Ensures the button behaves as a block-level element */
}

.btnJoinbtn:hover{
  background-color: white;
  color: rgb(58, 110, 188);
}

.createNewBtn{
  background: "none";
  border: "none";
  background-color: none;
  padding: 0;
  margin: 0;
  text-Decoration: "underline";
  cursor: "pointer";
  color: black;
}

.createinfo{
  padding-top: 12px;
}

footer a:hover,
.createinfo button:hover{
  color: rgb(170, 204, 17);
}

/* Editor Page  */
.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
}
.aside{
  background:rgb(0, 90, 95) ;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;

}
.asideInner{
  flex:1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;

}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName{
  margin-top: 10px;
}
.logo{
  border-bottom: 2px dashed white;
  padding-bottom:10px;
}
.logoImage{
  height:60px;
  padding-left: 15px;
}

.leaveBtn{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 175px;
}
.leaveBtn:hover{
  background-color: white;
  color: rgb(58, 110, 188);
}
.copyBtn{
  margin-bottom: 10px;
  background-color: white;
  color:rgb(58, 110, 188);
  border: none;
  padding: 7px;
  border-radius: 17px;
  font-size: 17px;
  width: 175px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  text-align: center; /* Ensures text inside the button is centered */
  margin: 0 auto 10px;/*auto centers the item automatically*/
  display: block;/* Ensures the button behaves as a block-level element */
}

.copyBtn:Hover{
  color: white;
  background-color: rgb(58, 110, 188);
}
.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 15px;
    line-height: 1.6;
    padding-top: 20px;
}
.editorWrap {
  height: 100vh;
  overflow: hidden; /* Prevent scrolling in the parent container */
}